{
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "rules": {
    "strict": 0,
    "no-undef": 2,
    "no-unused-vars": 2
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"]
}
