@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf'), url('http://fonts.googleapis.com/css?family=Lato:400,700');
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.ttf'), url('http://fonts.googleapis.com/css?family=Lato:400,700');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Times New Roman';
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
}

p {
    margin: 0 0 10px;
}

h1 {
  font-weight: 400;
  font-size: 42px;
  color: #444;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  color: #444;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  color: rgb(227, 25, 0);
}

hr.top-padded-rule {
  margin-top: 40px;
}

.left {
  float: left;
}
.right {
  float: left;
}
.center {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
.black-text {
  color: #444;
}

.red-text {
  color: rgb(227, 25, 0);
}

.white-text {
  color: rgb(255, 255, 255);
}

.small-font-size {
  font-size: 12px;
}

.medium-font-size {
  font-size: 16px;
}

.clear-fix {
  overflow: auto;
  zoom: 1;
}

.clear-fix:after {
    clear: both;
}

.clear-fix:before, .clear-fix:after {
    display: table;
    content: " ";
}

a.link {
  color: rgb(227, 25, 0);
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
  color: rgb(149, 0, 0);
}
.container {
  width: 100%;
}
.row {
  width: 100%;
  max-width: 1000px;
}
.one-half-col{
  width: 50%;
}
.one-third-col{
  width: 30%;
}

table tbody td tr:first-child {
  color: #E31900;
  text-align: left;
}
table tbody td tr:first-child {
  color: lightgrey;
  text-align:center;
}