@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.black-text {
  color: rgb(0, 0, 0);
}

.red-text {
  color: rgb(227, 25, 0);
}

.red5pro-logo {
  display: inline-block;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  position: relative;
  box-sizing: content-box;
  padding-right: 10px;
}

.red5pro-header-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.red5pro-header-link:active {
  color: rgb(0, 0, 0);
}

.red5pro-header {
  font-size: 20px;
}

.header-bar {
  background-color: #a8a8a8;
  border-color: rgb(166, 168, 168);
  padding: 15px;
 }

