<div>
  <h3>Example Native Applications</h3>
  <h4>You will need a native application integrated with the Red5 Pro SDKs installed on your favorite device in order to broadcast and consume live streams and experience Red5 Pro Second Screen.</h4>
  <p>You can find the following Open Source native application examples on our <a class="link" href="https://github.com/red5pro" target="_blank">Github</a>:</p>
  <div class="menu-content">
    <ul class="menu-listing application-listing">
      <li><a class="red-text" href="https://github.com/red5pro/red5pro-ios-app" target="_blank">&gt;&nbsp;Red5 Pro iOS Application</a></li>
      <li><a class="red-text" href="https://github.com/red5pro/red5pro-android-app" target="_blank">&gt;&nbsp;Red5 Pro Android Application</a></li>
    </ul>
  </div>
  <p>Follow the project setup and build instructions in each project to easily create Red5 Pro nativeclients to being using the above server applications!</p>
</div>

