<div class="filter-section" data-target="{{target}}">
  <div class="filter-container">
    <p>Filter By Stream Name:</p>
    <p class="filter-container_input"><input id="filter-input" class="filter-input" type="text" placeholder="Stream Name"/></p>
  </div>
</div>

