<div class="filter-section" data-target="{{target}}">
  <div class="filter-container">
    <p>Filter By Type:</p>
    <p>
      <input type="checkbox" name="type-flv" class="type-input filter-checkbox" checked />
      <label for="type-flv">FLV</label>
      <input type="checkbox" name="type-mp4" class="type-input filter-checkbox" checked />
      <label for="type-mp4">MP4</label>
      <input type="checkbox" name="type-m3u8" class="type-input filter-checkbox" checked />
      <label for="type-m3u8">HLS</label>
    </p>
  </div>
  <div class="filter-container">
    <p>Filter By Stream Name:</p>
    <p class="filter-container_input"><input id="filter-input" class="filter-input" type="text" placeholder="Stream Name"/></p>
  </div>
</div>

