<div class="footer">
  <div style="padding-bottom: 10px;">
    <a id="footer-email" href="https://www.red5pro.com/contact-information" target="_blank">
      <span class="black-text email-header">Looking for something else?</span>
      <br>
      <br>
      <span id="footer-email-lead" class="black-text">We're here to help.</span>      &nbsp;<span class="red-text">Let's Talk!</span>
    </a>
  </div>
  <div class="footer-copyright">
    <p><img src="css/assets/Red5Pro_logo_white_red.svg" class="brand-icon" alt="Red5 Pro" /></p>
    <p><span class="footer-copyright-text">Copyright 2015 - <span class="footer-copyright-text_end">2019</span>  &copy; Red5 Pro</span></p>
  </div>
  <script>
    (() => {
      const footerDate = document.querySelector('.footer-copyright-text_end')
      if (footerDate) {
        footerDate.textContent = new Date().getFullYear()
      }
    })()
  </script>
</div>
