<div class="footer">
  <div>
    <a id="footer-email" href="mailto:red5pro@infrared5.com">
      <span class="red-text email-header">Looking for something else?</span>
      <br>
      <br>
      <span id="footer-email-lead" class="black-text">We're here to help!</span>      <span class="red-text">Get in touch</span>
    </a>
  </div>
  <br>
  <hr>
  <p class="footer-copyright">
    <span>Copyright &copy; 2015,</span>&nbsp;
      {{#if logo_url}}
        <img class="red5pro-logo-footer" src="{{logo_url}}">
      {{else}}
        <img class="red5pro-logo-footer" src="images/red5pro_logo.svg">
      {{/if}}
  </p>
</div>
