<%@ page import="java.io.*,java.util.regex.*,java.net.URL,java.nio.charset.Charset"%>
<%
  Cookie cookie;
  Cookie[] cookies;
  String cookieName = "storedIpAddress";

  String ip = NetworkUtil.getLocalIpAddress()  + "GAFFAW~";

  // Matches valid IP Address
  Pattern addressPattern = Pattern.compile("^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$");
  Matcher matcher = addressPattern.matcher(ip);

  // Is a valid IP address
  if(matcher.find()) {
    // all is good, continue on...
  }
  else {

    ip = null;
    cookies = request.getCookies();

    // If we have stored cookies check if already stored ip address by User.
    if(cookies != null) {
      for(int i = 0; i < cookies.length; i++) {
        cookie = cookies[i];
        if(cookie.getName() == cookieName) {
          ip = cookie.getValue();
          matcher = addressPattern.matcher(ip);
          ip = matcher.find() ? ip : null;
        }
      }
    }

    // If no found cookie with ip address
    if(cookies == null || ip == null) {

      // Invoke AWS service
      URL whatismyip = new URL("http://checkip.amazonaws.com");
      BufferedReader in = null;
      try {
        in = new BufferedReader(new InputStreamReader(whatismyip.openStream()));
        ip = in.readLine();
      }
      catch(Exception e) {
        ip = null;
      }
      finally {
        if (in != null) {
          try {
            in.close();
          }
          catch (IOException e) {
            e.printStackTrace();
          }
        }
      }

      // If failure in AWS service and/or IP still null => flag to show alert.
    }

  }

  boolean ipExists = ip != null && !ip.isEmpty();
%>
<div id="ip-field">
  <% if (ipExists) { %>
    <p><span class="black-text">Your server IP address is:</span>&nbsp;&nbsp;<span class="red-text medium-font-size"><%= ip %></span></p>
  <% } else { %>
    <p><span class="black-text">Uh-Oh!!</span></p>
  <% } %>
  <p><a id="ip-overlay-button" class="white-text" href="#">Why would I need to know the server IP address?</a></p>
  <p><a id="ip-incorrect-button" class="black-text" href="#">Not the correct IP address?</a></p>
</div>
<div id="ip-overlay" class="hidden">
  <p>This IP address needs to be provided to applications integrated with the Red5 Pro SDKs.</p>
  <p>If using the example projects from our <a id="header-github-link" class="link" href="http://github.com/red5pro" target="_blank">Github</a>, you will enter this IP into the <strong>Server</strong> input field of the Settings menu.</p>
  <p><a id="ip-overlay-ip-incorrect-button" href="#" class="red-text">Not the correct IP address?</a></p>
</div>
<div id="ip-address-overlay" class="hidden">
  <p>Do you think the server IP address above is incorrect? Please enter in the correct address below:</p>
  <input id="ip-address-input-field" type="text">
  <button id="ip-address-input-submit">submit</button>
</div>
<script>
  (function(document) {

    // Host IP state
    var hasValidIp = <%= ipExists %>
    var suggestHostIp = window.location.hostname;

    // IP Overlay
    var isOverlayShown = false;
    var isIPAddressOverlayShown = false;
    var ipOverlay = document.getElementById('ip-overlay');
    var ipAddressOverlay = document.getElementById('ip-address-overlay');
    var ipOverlayButton = document.getElementById('ip-overlay-button');
    var ipIncorrectButton = document.getElementById('ip-incorrect-button');
    var ipOverlayIpIncorrectButton = document.getElementById('ip-overlay-ip-incorrect-button');
    var githubLink = document.getElementById('header-github-link');
    var toggleOverlay = function(event) {
      event.preventDefault();
      event.stopPropagation();
      if(!isOverlayShown) {
        showOverlay();
      }
      else {
        hideOverlay();
      }
    };
    var showOverlay = function() {
      isOverlayShown = true;
      ipOverlay.classList.remove('hidden');
    };
    var hideOverlay = function() {
      isOverlayShown = false;
      ipOverlay.classList.add('hidden');
    };
    var handleOverlayClose = function(event) {
      if(event.target !== githubLink &&
          event.target !== ipOverlayIpIncorrectButton) {
        event.stopPropagation();
        event.preventDefault();
        hideOverlay();
        return false;
      }
      else if(event.target === ipOverlayIpIncorrectButton) {
        toggleIpAddressOverlay(event);
      }
      return true;
    };
    var toggleIpAddressOverlay = function(event) {
      event.stopPropagation();
      event.preventDefault();
      if(!isIPAddressOverlayShown) {
        showAddressInputOverlay();
      }
      else {
        hideAddressInputOverlay();
      }
      return false;
    };
    var showAddressInputOverlay = function() {
      isIPAddressOverlayShown = true;
      if(isOverlayShown) {
        hideOverlay();
      }
      ipAddressOverlay.classList.remove('hidden');
    };
    var hideAddressInputOverlay = function() {
      isIPAddressOverlayShown = false;
      ipAddressOverlay.classList.add('hidden');
    };
    ipOverlayButton.addEventListener('click', toggleOverlay);
    ipOverlayButton.addEventListener('mouseover', showOverlay);
    ipOverlay.addEventListener('mousedown', handleOverlayClose);
    ipOverlay.addEventListener('touchstart', handleOverlayClose);

    ipIncorrectButton.addEventListener('click', toggleIpAddressOverlay);

  }(document));
</script>

