<div class="header-bar clear-fix">
  <div id="header-field">
    <a class="red5pro-header-link" href="/">
      <img class="red5pro-logo" src="images/logo_68.png">&nbsp;<span class="red5pro-header black-text">RED5</span><span class="red5pro-header red-text">PRO</span>
    </a>
  </div>
  <div id="ip-field">
    <p><span class="black-text">Your server IP address is:</span>&nbsp;&nbsp;<span class="red-text medium-font-size"><%= Inet4Address.getLocalHost().getHostAddress()%></span></p>
    <p><a class="white-text" href="#">Why would I need to know this?</a>
  </div>
</div>
