<div class="header-bar clear-fix">
  <div id="header-field">
    <a class="red5pro-header-link" href="/">
      {{#if logo_url}}
        <img class="red5pro-logo" src="{{logo_url}}">&nbsp;<span class="red5pro-header black-text">RED5</span><span class="red5pro-header red-text">PRO</span>
      {{else}}
        <img class="red5pro-logo" src="images/logo_68.png">&nbsp;<span class="red5pro-header black-text">RED5</span><span class="red5pro-header red-text">PRO</span>
      {{/if}}
    </a>
  </div>
  {{> header_ip_field }}
</div>
<div id="server-version-field" class="small-font-size">
  <span class="black-text">Red5 Pro Server Version</span>&nbsp;&nbsp;<span class="red-text">{{server_version}}</span>
</div>
