<div class="header-bar">
  <div id="header-field">
    {{> header_ip_field }}
  </div>
  <div id="server-version-field" class="small-font-size">
    <span class="black-text">Red5 Pro Server Version</span>&nbsp;&nbsp;<span class="red-text">{{server_version}}</span>
  </div>
</div>
