<div>
  <a id="red5pro-header-link" href="/">
    <img class="red5pro-logo" src="images/logo_128.png">
    <span class="red5pro-header black-text">RED5</span>
    <span class="red5pro-header red-text">PRO</span>
  </a>
</div>
<b>Red5 Pro Server is up and running!</b><br />
<b>Your server IP address is <%= Inet4Address.getLocalHost().getHostAddress()%></b>
