<div class="menu-content">
  <ul class="menu-listing">
    <li><a class="red-text menu-listing-internal" href="/">Welcome</a></li>
    <li><a class="red-text menu-listing-internal" href="/live">Live Streaming</a></li>
      <ul class="menu-sublisting">
        <li><a class="red-text menu-listing-nested" href="/streaming/broadcast">Broadcast</a></li>
        <li><a class="red-text menu-listing-nested" href="/streaming/subscribe">Subscribe</a></li>
      </ul>
    <li><a class="red-text menu-listing-internal" href="/secondscreen">Second Screen</a></li>
    <ul class="menu-sublisting">
        <li><a class="red-text menu-listing-nested" href="/secondscreen/basic">HTML Controller</a></li>
        <li><a class="red-text menu-listing-nested" href="/secondscreen/gamepad">Gamepad Controller</a></li>
        <li><a class="red-text menu-listing-nested" href="/secondscreen/dpad">DPAD Controller</a></li>
    </ul>
  </ul>
  <ul class="menu-listing">
    <li><a class="red-text menu-listing-external" href="http://red5pro.com" target="_blank">&gt;&nbsp;Red5 Pro Site</a></li>
    <li><a class="red-text menu-listing-external" href="http://red5pro.com/docs" target="_blank">&gt;&nbsp;Red5 Pro Docs</a></li>
    <li><a class="red-text menu-listing-external" href="http://account.red5pro.com" target="_blank">&gt;&nbsp;Red5 Pro Accounts</a></li>
    <li><a class="red-text menu-listing-external" href="http://github.com/red5pro" target="_blank">&gt;&nbsp;Red5 Pro Github</a></li>
  </ul>
</div>
