<!-- view jsp_header to view variables used in this page -->
<div class="menu-content">
  <ul class="menu-listing">
    <li><a class="red-text menu-listing-internal" href="/">Welcome</a></li>
    <li><a class="red-text menu-listing-internal" href="/live">Live Streaming</a></li>
      <ul class="menu-sublisting">
        <li><a class="menu-broadcast-link red-text menu-listing-nested" href="/live/broadcast.jsp?host=<%= ip %>">Broadcast</a></li>
        <li><a class="red-text menu-listing-nested" href="/live/subscribe.jsp?host=<%= ip %>">Subscribe</a></li>
        <li><a class="red-text menu-listing-nested" href="/live/playback.jsp?host=<%= ip %>">VOD Playback</a></li>
<!--         <li><a class="red-text menu-listing-nested" href="/live/twoway.jsp">Two-Way Streaming Example</a></li> -->
      </ul>
    <!-- webapps -->
  </ul>
  <hr>
  <ul class="menu-listing">
    <li><a class="red-text" href="https://calendly.com/red5-pro/15-minute-phone-call" target="_blank">Let's Talk!</a></li>
    <li><a class="red-text menu-listing-external" href="https://red5pro.zendesk.com?origin=webapps" target="_blank">Found an Issue?</a></li>
  </ul>
  <script>
    (function(window, document) {
      var className = 'menu-broadcast-link';
      function handleLiveIpChange(value) {
        var elements = document.getElementsByClassName(className);
        var length = elements ? elements.length : 0;
        var index = 0;
        for(index = 0; index < length; index++) {
          elements[index].href = ['/live/broadcast.jsp?host', value].join('=');
        }
      }
      window.r5pro_registerIpChangeListener(handleLiveIpChange);
     }(this, document));
  </script>
</div>
