<div id="menu-content">
  <ul>
    <li><a href="/streaming">Live Streaming</a></li>
    <li><a href="/secondscreen">Second Screen</a></li>
    <li><a href="http://red5pro.com">Red5 Pro Home</a></li>
    <li><a href="http://account.red5pro.com">Red5 Pro Accounts</a></li>
    <li><a href="http://red5pro.com/docs">Red5 Pro Docs</a></li>
  </ul>
</div>
