<div class="content-section_card">
  <p class="content-section_card_graphic"><img decoding="async" loading="lazy" src="images/metaverse.svg" data-src="" alt="" width="104" height="84"></p>
  <h3 class="content-section_card_title"><a class="card-link" href="/webrtcexamples">Core &amp; Mobile Streaming SDKs</a></h2>
  <p class="content-section_card_download_link"><a href="https://account.red5.net/downloads" target="_blank">Download the SDKs</a></p>
  <p class="content-section_card_message">
    We fully support Android and iOS native applications, as well as have Core SDK distributions for Linux, Windows, Mac M1 &amp; Intel. Our optimized SDKs increase the server capacity, saving you money on hosting costs.
    <br/>
    <br/>
    You can find the following Open Source native application examples on our <a class="card-link card-link_page" href="https://github.com/red5pro" target="_blank">Github</a>:</p>
  </p>
  <div class="content-section_card_tray">
    <p class="content-section_card_link"><a class="card-link" href="https://github.com/red5pro/streaming-ios">Red5 Pro iOS Examples&nbsp;<img decoding="async" loading="lazy" src="images/white-arrow.svg" data-src="" alt="" width="12" height="12"></a></a></p>
    <p class="content-section_card_link"><a class="card-link" href="https://github.com/red5pro/streaming-android">Red5 Pro Android Examples&nbsp;<img decoding="async" loading="lazy" src="images/white-arrow.svg" data-src="" alt="" width="12" height="12"></a></a></p>
  </div>
</div>
