<div>
  <h2 class="red-text">Mobile Examples</h2>
  <p>We fully support Android and iOS native applications. Our optimized SDKs increase the server capacity, saving you money on hosting costs.</p>
  <p>You can find the following Open Source native application examples on our <a class="link" href="https://github.com/red5pro" target="_blank">Github</a>:</p>
  <div class="menu-content" style="margin: 16px 0; padding: 10px 0;">
    <ul class="menu-listing application-listing">
      <li><a class="red-text" style="text-decoration: underline;" href="https://github.com/red5pro/streaming-ios" target="_blank">Red5 Pro iOS Examples</a></li>
      <li><a class="red-text" style="text-decoration: underline;" href="https://github.com/red5pro/streaming-android" target="_blank">Red5 Pro Android Examples</a></li>
    </ul>
  </div>
  <p>Follow the project setup and build instructions in each project to easily create Red5 Pro native clients to begin using the above server applications!</p>
</div>

