<div>
  <h2 class="red-text">Web-Based Examples</h2>
  <p>Our HTML SDK has full WebRTC support with failovers for Flash and HLS.</p>
  <p>Several examples are shipped with the Red5 Pro Server and are available to use and test at <a class="link" href="/webrtcexamples">/webrtexamples</a>.</p>
  <p><a class="link blue-text" target="_blank" href="https://github.com/red5pro/streaming-html5">View source on Github</a></p>
</div>

