<div class="content-section_card content-section_card_small">
  <p class="content-section_card_graphic"><img decoding="async" loading="lazy" src="images/security.svg" data-src="" alt="" width="104" height="84"></p>
  <h3 class="content-section_card_title"><a class="card-link" href="/webrtcexamples">WebRTC SDK &amp; Examples</a></h2>
  <div class="content-section_card_info">
    <p class="content-section_card_message">
      Our HTML SDK has full WebRTC support with failover for native HLS. Examples are available to use and test at <a class="card-link card-link_page" href="/webrtcexamples">/Webrtexamples</a>.
    </p>
    <div class="content-section_card_tray">
      <p class="content-section_card_link"><a class="card-link" href="https://www.npmjs.com/package/red5pro-webrtc-sdk">Get the WebRTC SDK</a></p>
    </div>
  </div>
</div>

